{% extends 'manager_Index.html' %}
{% block content %}
    <h3>Here is your Operating Authorization: </h3>
    <div class="cen d-grid gap-4">
        <button class="btn btn-primary btn-lg">
            <a class="bbb" href="/manager/manager_user">Manage User</a>
        </button>
        <button class="btn btn-primary btn-lg">
            <a class="bbb" href="/manager/manager_dish">Manage Dishes</a>
        </button>
        <button class="btn btn-primary btn-lg">
            <a class="bbb" href="/">Log out</a>
        </button>
    </div>
{% endblock %}